@import url('https://fonts.googleapis.com/css?family=Rajdhani');

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
*::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: repeating-linear-gradient(to top, rgb(18,105,202), rgb(188, 6, 233));
  border-bottom-right-radius: 20px;
}
.menu {
  font-family: 'Rajdhani', sans-serif;
  min-width  : 250px;
  color      : #fff;
  box-shadow : 0px 0px 10px 0px #000;
  position   : absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  background-image: repeating-linear-gradient(to left, rgb(18,105,202), rgb(188, 6, 233));
  text-align      : center;
  height          : 30px;
  line-height     : 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu .menu-items {
  max-height   : 500px;
  overflow-y   : auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu .menu-items .menu-item {
  height          : 25px;
  display         : block;
  background-color: #2a2c31; 
  filter          : alpha(opacity=90);
  opacity         : 0.75;
  line-height     : 25px;
  color           : #ffffff;
  text-align      : center;
  text-opacity    : 1.0;
  opacity-text    : 1.0;
  padding-left    : 3px;
  padding-right   : 3px;
}

.menu .menu-items .menu-item.selected {
  background-color: #635C5C;
  filter          : alpha(opacity=90);
  color           : #ffffff;
  text-align      : center;
  opacity         : 0.75;
  border-bottom   : 1px solid repeating-linear-gradient(to left, rgb(18,105,202), rgb(188, 6, 233));
}

.menu .menu-items .menu-item.selected input {
  background-color: transparent;
  color           : #ffffff;
  text-align      : center;
  border          : none;
  outline         : none;
  width           : 20px;
}